// Century Gothic

@font-face {
	font-family: 'Century Gothic Regular';
	src: url('../fonts/CenturyGothic/CenturyGothic.eot');
	src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
	url('../fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic Italic';
	src: url('../fonts/CenturyGothic/CenturyGothic-Italic.eot');
	src: url('../fonts/CenturyGothic/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CenturyGothic/CenturyGothic-Italic.woff') format('woff'),
	url('../fonts/CenturyGothic/CenturyGothic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic Bold';
	src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
	url('../fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic Bold Italic';
	src: url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.eot');
	src: url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.woff') format('woff'),
	url('../fonts/CenturyGothic/CenturyGothic-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Segoe UI

@font-face {
	font-family: 'Segoe UI Light';
	src: url('../fonts/SegoeUI/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SegoeUI/SegoeUI-Light.woff') format('woff'),
	url('../fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Regular';
	src: url('../fonts/SegoeUI/SegoeUI.eot');
	src: url('../fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SegoeUI/SegoeUI.woff') format('woff'),
	url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Italic';
	src: url('../fonts/SegoeUI/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SegoeUI/SegoeUI-Italic.woff') format('woff'),
	url('../fonts/SegoeUI/SegoeUI-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Semibold';
	src: url('../fonts/SegoeUI/SegoeUI-SemiBold.eot');
	src: url('../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
	url('../fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Bold';
	src: url('../fonts/SegoeUI/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'),
	url('../fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Bold Italic';
	src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.eot');
	src: url('../fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SegoeUI/SegoeUI-BoldItalic.woff') format('woff'),
	url('../fonts/SegoeUI/SegoeUI-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}